/target/

/project/target/
/project/project/

.idea/
*.iml
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

*.jar
*.war
*.ear
*.class
*.log

.DS_Store
Thumbs.db

*.lock
*.tmp

.sbt/
*.lock
streams/
global-logging/

.scala_history

!src/main/
!src/test/
!build.sbt
!project/plugins.sbt
!docker-compose.yml
